[project]
	description = random repo for testing cr tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Donovan (donovamb)
[access "refs/for/refs/*"]
	read = group user/Matt Donovan (donovamb)
	push = group user/Matt Donovan (donovamb)
	label-Code-Review = -2..+2 group user/Matt Donovan (donovamb)
	label-Verified = -1..+1 group user/Matt Donovan (donovamb)
	rebase = group user/Matt Donovan (donovamb)
	removeReviewer = group user/Matt Donovan (donovamb)
	submit = group user/Matt Donovan (donovamb)
[access "refs/heads/*"]
	read = group user/Matt Donovan (donovamb)
	create = group user/Matt Donovan (donovamb)
	push = +force group user/Matt Donovan (donovamb)
	pushMerge = group user/Matt Donovan (donovamb)
[access "refs/tags/*"]
	push = +force group user/Matt Donovan (donovamb)
	pushTag = group user/Matt Donovan (donovamb)
	pushSignedTag = group user/Matt Donovan (donovamb)
